/*Developed by josleugim@gmail.com*/
@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff2') format('woff2'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#tuist,
#dont-worry,
#happy,
#todo,
#book,
#contact {
	font-family: 'exoregular';
	height: 768px;
	position: relative;
	text-align: center;
}

#tuist {
	background-color: #c20430;
}

#dont-worry {
	background-color: #ffa12e;
	z-index: 2;
}

#happy {
	background-color: #fff;
}

#todo {
	background-color: #000;
}

#book {
	background-color: #c20430;
}

#contact {
	background: #c20430 url(../img/fondo-contacto.png) no-repeat center center;
	background-size: cover;
}

.row,
.col-md-12,
.tuist-content,
.dont-worry-content,
.be-happy-content,
.col-md-4,
.todo-content,
.book-content,
.contact-content {
	height: 100%;
}

.tuist-content {
	position: relative;
}

.tuist-content,
.tuist-content img {
	z-index: 1;
}

.tuist-content img,
.dont-worry-content img,
.be-happy-content img,
.todo-content img,
.book-content img,
.contact-content img {
	height: 256px;
	left: 50%;
	margin-left: -129px;
	position: fixed;
	top: 35%;
	width: 257px;
}

.book-content img {
	height: 299px;
	width: 300px;
}

.tuist-content h2 {
	bottom: 10%;
	color: #fff;
	font-size: 3.5em;
	left: 50%;
	margin-left: -76px;
	position: absolute;
	text-transform: uppercase;
}

.tuist-content .scroll-down,
.dont-worry-content .scroll-down,
.todo-content .scroll-down,
.book-content .scroll-down {
	background: url(../img/flecha-home.png) no-repeat center center;
	bottom: 6%;
	display: inline-block;
	height: 37px;
	left: 50%;
	margin-left: -21px;
	position: absolute;
	text-indent: -999999999px;
	width: 43px;
}

.dont-worry-content {
	position: relative;
}

.dont-worry-content,
.dont-worry-content img {
	z-index: 2;
}

.dont-worry-content h2 {
	bottom: 25%;
	color: #fff;
	font-size: 3.5em;
	left: 50%;
	margin-left: -154px;
	position: absolute;
	text-transform: uppercase;
}

.be-happy-content {
	position: relative;
}

.be-happy-content,
.be-happy-content img {
	z-index: 3;
}

.be-happy-content h2 {
	color: #ed1c24;
	font-size: 3em;
	left: 50%;
	margin-left: -95px;
	position: absolute;
	text-transform: uppercase;
	top: 10%;
}

#happy .txt-content,
#happy .txt-content-right {
	font-size: 1.6em;
	text-align: left;
	margin-top: 80%;
}

#happy .txt-content-right {
	text-align: right;
}

#happy .txt-content p {
	padding: 0 40px;
}

.be-happy-content .scroll-down {
	background: url(../img/flecha-behappy.png) no-repeat center center;
	bottom: 6%;
	display: inline-block;
	height: 37px;
	left: 50%;
	margin-left: -21px;
	position: absolute;
	text-indent: -999999999px;
	width: 43px;
}

.todo-content {
	position: relative;
}

.todo-content,
.todo-content img {
	z-index: 4;
}

.todo-content h2 {
	top: 8%;
	color: #fff;
	font-size: 3em;
	line-height: 30px;
	left: 50%;
	margin-left: -189px;
	position: absolute;
	text-transform: uppercase;
}

.todo-content h2 span {
	color: grey;
}

.todo-content ul {
	bottom: 25%;
	left: 50%;
	list-style: none;
	margin-left: -30%;
	position: absolute;
	width: 60%;
}

.todo-content ul li {
	border-right: 1px solid red;
	color: #fff;
	display: inline-block;
	height: 13px;
	line-height: 13px;
	padding: 0 15px;
	position: relative;
	text-transform: uppercase;
}

.todo-content ul li:nth-child(8) {
	border-right: none;
}

.todo-content ul li span {
	display: inline-block;
	left: 50%;
	position: absolute;
	text-indent: -9999999px;
	top: -60px;
}

.todo-content ul li .audio {
	background: transparent url(../img/about.png) no-repeat 0 0;
	height: 43px;
	margin-left: -12px;
	width: 24px;
}

.todo-content ul li .video {
	background: transparent url(../img/about.png) no-repeat -31px -6px;
	height: 31px;
	margin-left: -22px;
	top: -55px;
	width: 45px;
}

.todo-content ul li .photo {
	background: transparent url(../img/about.png) no-repeat -87px -6px;
	height: 31px;
	margin-left: -22px;
	top: -55px;
	width: 43px;
}

.todo-content ul li .tv {
	background: transparent url(../img/about.png) no-repeat -135px -3px;
	height: 38px;
	margin-left: -22px;
	top: -55px;
	width: 44px;
}

.todo-content ul li .web {
	background: transparent url(../img/about.png) no-repeat -183px -4px;
	height: 36px;
	margin-left: -22px;
	top: -55px;
	width: 43px;
}

.todo-content ul li .social {
	background: transparent url(../img/about.png) no-repeat -231px -3px;
	height: 37px;
	margin-left: -21px;
	top: -55px;
	width: 41px;
}

.todo-content ul li .apps {
	background: transparent url(../img/about.png) no-repeat -280px 0;
	height: 43px;
	margin-left: -12px;
	top: -55px;
	width: 25px;
}

.todo-content ul li .politico {
	background: transparent url(../img/about.png) no-repeat -310px 0;
	height: 43px;
	margin-left: -25px;
	top: -55px;
	width: 50px;
}

.book-content {
	position: relative;
}

.book-content img {
	margin-left: -150px;
	z-index: 4;
}

.book-content h2 {
	top: -24%;
	color: #fff;
	font-size: 3em;
	line-height: 30px;
	left: 50%;
	margin-left: -97px;
	position: absolute;
	text-transform: uppercase;
}

.book-content h3 {
	color: #fff;
	font-size: 17em;
	letter-spacing: 5px;
	margin-top: 17%;
	text-transform: uppercase;
}

.book-content h3 span {
	display: inline-block;
}

.book-content h3 span:nth-child(1) {
	margin-right: 320px;
}

.book-content h3 span:nth-child(2) {
	margin-right: 170px;
}

.contact-content {
	cursor: pointer;
	position: relative;
}

.contact-content,
.contact-content img {
	z-index: 5;
}